.main {
  display: grid;
  grid-template-areas:
    'aside main' 
    'content content' 
    'footer footer';
  grid-template-columns: 300px 1fr;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
}

.content {
  grid-area: content
}

footer {
  grid-area: footer
}
